.heading{
    width:100%;
    text-align:left;
}
.heading h2{
    display:inline;
}
.heading button{
    float:right;
    border:1px solid white;
}
#start_button{
    margin-top:50px;
}
#footer{
    position:fixed;
    bottom:0;
    width:100%;
    background-color:blueviolet;
    font-size: 20px;
}
canvas{
background:white;
border-radius:10px;
border-color: black;   
}